Click>=7.0
Flask>=1.1.1
Flask-Cors>=3.0.8
google-pasta>=0.1.8
gunicorn>=19.9.0
itsdangerous>=1.1.0
Jinja2>=2.10.1
MarkupSafe>=1.1.1
marshmallow>=3.10.0
numpy>=1.17.0
pillow>=6.2.0
protobuf>=3.8.0
psutil>=5.6.1
pyyaml>=5.3.1
scipy>=1.5.3
scikit-learn>=0.23.1
six>=1.12.0
Werkzeug>=1.0.0
pandas>=1.0.4
yapf>=0.30.0
grpcio>=1.27.3